/*-------------- about -----------------*/
@keyframes round-text {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.about{
	margin: 183px 0 30px;

	&__content{padding-right: 60px;}
}

.about-slider{
	position: relative;
	display: none;
	&.slick-initialized{display: block;}

	&::after{
		content: '';
		display: inline-block;
		width: 200px;
		height: 200px;
		background: url(/assets/img/round-text.svg);
		position: absolute;
		top: -100px;
		right: -100px;
		animation: round-text 10s linear 2s infinite;
	}

	&__item{
		display: block;
		text-decoration: none;
		border-radius: 12px;
		overflow: hidden;
	}

	.btn-arr{
		position: absolute;
		@include top-center;
		z-index: 10;
	}

	.btn-arr_left{left: -30px;}
	.btn-arr_right{right: -30px;}
}