/*-------------- news -----------------*/
.news-wrap{margin: 30px 0;}

.news-item{
	height: calc(100% - 40px);
	margin-bottom: 40px;
	text-align: center;

	&__img-wrap{
		display: block;
		border-radius: 12px;
		padding-bottom: 74%;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}

	&__img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 0.2s ease 0s;
	}

	&__img-wrap:hover &__img{transform: scale(1.05);}

	&__title{
		@include font(normal, 500, 2.2rem, 1.2, #000);

		a{
			text-decoration: none;
			color: #000;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: $color-green;}
	}

	&__date{
		@include font(normal, normal, 1.6rem, 1.5, #868686);
		margin-top: 20px;
	}

	&__more{
		display: inline-block;
		vertical-align: top;
		margin-top: 27px;
		text-decoration: none;

		.icon{
			stroke: #c2c2c2;
			transition: stroke 0.2s ease 0s;
		}
	}

	&__more:hover .icon{stroke: $color-green;}
}

@media (max-width: 767px) {
	.news-wrap{
		.h1, h1{text-align: center;}
	}

	.news-item{
		&__img-wrap{padding-bottom: 69%;}

		&__title{
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__more{
			max-width: 30px;
			margin-top: 20px;
		}
	}
}