/*-------------- product-card -----------------*/
.product-list{
	margin: 125px 0 120px;

	&__more{
		text-align: center;
		margin-top: -20px;
	}
}

.product-card{
	height: calc(100% - 60px);
	margin-bottom: 60px;

	&__img-wrap{
		position: relative;
		padding-bottom: 65%;
		margin-bottom: 30px;
	}

	&__img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 12px;
	}

	&__title{
		font-family: $font-prosto;
		@include font(normal, normal, 2.6rem, 1.3, #000);
		text-align: center;
	}
}

.product-card-param{
	margin-top: 30px;

	&__item{
		display: flex;
		justify-content: space-between;
		@include font(normal, normal, 1.4rem, 1.5, #000);
		padding: 12px 22px;
		min-height: 45px;
		border-radius: 60px;
	}

	&__item:nth-child(odd){background: #fff;}

	&__label{
		color: #464646;
		padding-right: 15px;
	}
}