/*-------------- reviews-line -----------------*/
.reveiw-line-item{
	display: flex;
	align-items: flex-start;
	background: #fff;
	border-radius: 22px;

	&:not(:last-child){margin-bottom: 10px;}

	&__data{
		display: flex;
		align-items: center;
		flex: 0 0 300px;
		width: 300px;
		padding: 60px 0;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 80px;
		width: 80px;
		height: 80px;
		border-radius: 0 40px 40px 0;
		background: $color-green;
		margin-right: 16px;

		.icon{stroke: #fff;}
	}

	&:nth-child(4n+2) &__icon{background: #009da7;}
	&:nth-child(4n+3) &__icon{background: #a7003c;}
	&:nth-child(4n+4) &__icon{background: #90a700;}

	&__name{
		@include font(normal, bold, 1.8rem, 1.5, #000);
	}

	&__city{
		@include font(normal, normal, 1.4rem, 1.5, #000);
		margin-top: 5px;
	}

	&__date{
		@include font(normal, normal, 1.4rem, 1.5, #a8a8a8);
		margin-top: 5px;
	}

	&__content{
		@include font(normal, normal, 1.8rem, 1.5, $color-text);
		padding: 60px;

		p:last-child{margin-bottom: 0;}
	}
}

@media (max-width: 991px) {
	.reveiw-line-item{
		&__data{
			flex: 0 0 200px;
			width: 200px;
			padding: 40px 0;
		}

		&__content{padding: 40px;}
	}
}

@media (max-width: 767px) {
	.reveiw-line-item{
		display: block;

		&__data{
			flex: 0 0 auto;
			width: auto;
			padding: 20px 0;
		}

		&__content{
			font-size: 1.6rem;
			padding: 20px;
		}
	}
}