extends ../layout/main

block variables
	- var title = 'Об автошколе';
	- var h1 = 'Об автошколе';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная страница'},
			{href:'#',name:'Об автошколе'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section
		.container
			.row
				.col-12
					.img-float.img-float_right
						img(src="assets/img/driver-woman.jpg", alt="")

					p Наши клиенты, пройдя обучение, становятся грамотными и ответственными участниками дорожного движения, которые соблюдают все правила дорожного движения и обеспечивают безопасность на проезжей части и за ее пределами.
					p Автошкола имеет государственную лицензию, на основании которой проводит курсы подготовки водителей категории "А","А1" (мотоциклы), категории "В"(легковые автомобили с МКПП или АКПП), категории "С" (грузовые автомобили) и организует сдачу экзамена в ГИБДД на получение водительского удостоверения.

					h3 Дистанционное образование
					p Автошкола имеет государственную лицензию, на основании которой проводит курсы подготовки водителей категории "А","А1" (мотоциклы), категории "В"(легковые автомобили с МКПП или АКПП), категории "С" (грузовые автомобили) и организует сдачу экзамена в ГИБДД на получение водительского удостоверения.

					.clear

					.img-radius(style="margin-top: 0;")
						img(src="assets/img/freeway.jpg", alt="")

					.img-float
						img(src="assets/img/learning.jpg", alt="")

					h4 Тест-драйв авто совместно с инструктором
					p Наши клиенты, пройдя обучение, становятся грамотными и ответственными участниками дорожного движения, которые соблюдают все правила дорожного движения и обеспечивают безопасность на проезжей части и за ее пределами.
					p За годы существования школы мы стали большим коллективом - автошколой с двадцатью филиалами. У нас работают более 100 высококвалифицированных инструкторов по вождению и более 20 опытных преподавателей теоретического курса.