extends ../layout/main

block variables
	- var title = 'Новость детальная';
	- var h1 = 'Сдача экзаменов ГИБДД по новому регламенту';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная страница'},
			{href:'#',name:'Сдача экзаменов ГИБДД по новому регламенту'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.news-detail
		.container
			.row
				.col-lg-8
					.news-detail__date
						+svg('ic-calendar','ic-calendar ic-stroke', '20', '20')
						|28.09.2021

					.news-detail__img
						img(src="assets/img/news4.jpg", alt="")

					.news-detail__desc
						p Наши клиенты, пройдя обучение, становятся грамотными и ответственными участниками дорожного движения, которые соблюдают все правила дорожного движения и обеспечивают безопасность на проезжей части и за ее пределами.

						p За годы существования школы мы стали большим коллективом - автошколой с двадцатью филиалами. У нас работают более 100 высококвалифицированных инструкторов по вождению и более 20 опытных преподавателей теоретического курса.

						h4 Тест-драйв авто совместно с инструктором
						p Наши клиенты, пройдя обучение, становятся грамотными и ответственными участниками дорожного движения, которые соблюдают все правила дорожного движения и обеспечивают безопасность на проезжей части и за ее пределами.

						ul
							li Изучение теории проходит в просторных и современных классах, оборудованных мультимедийной техникой
							li Удобное расписание
							li Индивидуальный подход к каждому ученику
							li Безопасность
							li Общение с преподавателем в чате
							li Практика со своим инструктором
							li Обучение в автошколе 3,5 месяца

					.news-detail__back
						a.btn.btn_border(href='#')
							span.btn__content Все новости