extends ../layout/main

block variables
	- var title = 'Отзывы';
	- var h1 = 'Отзывы';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная страница'},
			{href:'#',name:'Отзывы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.reveiws-line
		.container
			.row
				.col-12
					-
						var list=[
							{
								text:[
									'“Хочеться выразить огромную благодарность всему коллективу автошколы «Дистанция». Отдельная благодарность инструктору Евгений Ф. который подробно и доступно объяснял информацию, за его терпение, профессионализм, спокойствие.',
									'Спасибо за знания и опыт! Замечательная автошкола. Сотрудники настоящие профессоналы! Школа оправдала все мои ожидания.”'
								],
								name:'Сергей',
								date:'26.02.2021',
								city:'Санкт-Петербург'
							},
							{
								text:[
									'“Хочеться выразить огромную благодарность всему коллективу автошколы «Дистанция». Отдельная благодарность инструктору Евгений Ф. который подробно и доступно объяснял информацию, за его терпение, профессионализм, спокойствие.',
								],
								name:'Александр',
								date:'26.02.2021',
								city:'Москва'
							},
							{
								text:[
									'“Хочеться выразить огромную благодарность всему коллективу автошколы «Дистанция». Отдельная благодарность инструктору Евгений Ф. который подробно и доступно объяснял информацию, за его терпение, профессионализм, спокойствие.',
									'Спасибо за знания и опыт! Замечательная автошкола. Сотрудники настоящие профессоналы! Школа оправдала все мои ожидания.”'
								],
								name:'Сергей',
								date:'26.02.2021',
								city:'Санкт-Петербург'
							},
							{
								text:[
									'“Хочеться выразить огромную благодарность всему коллективу автошколы «Дистанция». Отдельная благодарность инструктору Евгений Ф. который подробно и доступно объяснял информацию, за его терпение, профессионализм, спокойствие.',
								],
								name:'Александр',
								date:'26.02.2021',
								city:'Москва'
							},
						]
					each item in list
						.reveiw-line-item
							.reveiw-line-item__data
								.reveiw-line-item__icon
									+svg('ic-user','ic-user ic-stroke', '18', '23')

								.reveiw-line-item__info
									.reveiw-line-item__name= item.name
									.reveiw-line-item__city= item.city
									.reveiw-line-item__date= item.date

							.reveiw-line-item__content
								each text in item.text
									p= text