//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site:  'Inter', Arial, sans-serif;
$font-prosto:  'Prosto One', Arial, sans-serif;

// Site
$color-text: #1c1c1c;
$color-grey: #929292;
$color-green: #3ea700;
$color-green-hover: #379203;
$bg-grad: linear-gradient(90deg, #187B00 0%, #3EA700 100%);

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;


// $grid-columns: 16;